:root {
    --cerulean: #437C90;
    --dark-slate: #0a1818;
    --beige: #EEEBD3;
    --dark-goldenrod: #7e5503;
    --tuscan-sun: #F7C548;
}
.blog-post-main {
    background: var(--beige);
    color: var(--dark-slate);
    border-radius: 1rem;
    border: 1px solid transparent;
    padding: 1.25rem 1.5rem;
}
.blog-post h1 {
    margin-top: -0.35rem;
}
.blog-post time {
    color: var(--dark-goldenrod);
    /* color: var(--dark-slate); */
    font-size: small;
    max-width: 80ch;
    text-transform: uppercase;
}
