---
import './styles.css';
---
<script>
  import './scripts.ts'
</script>

<button aria-expanded="false" aria-controls="main-menu" class="menu">
  Menu
</button>
<ul id="main-menu" class="main-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/blog/">Blog</a></li>
</ul>