:root {
  --font-family: 'Playfair Display Variable', system-ui, serif;
  --font-family-body: 'Inter Variable', system-ui, sans-serif;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
main {
  min-height: 100svh;
}
body {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  line-height: 1.5;
}
* {
  box-sizing: border-box;
}
.reader {
  max-width: 68ch;
}
.content {
  max-width: min(100%,1050px);
  margin-inline: auto;
}