---
import Layout from '../../layouts/Layout.astro';

const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
const tags = [...new Set(allPosts.flatMap((post: any) => post.frontmatter?.tags ?? []))];
---
<Layout pageTitle="Tags">
    <ul>
        {tags.map((tag) => (
            <li key={tag}>
                <a href={`/tags/${tag}`}>{tag}</a>
            </li>
        ))}
    </ul>
</Layout>