---
import Layout from "../layouts/Layout.astro"
---
<Layout pageTitle="Blog">
    <ul>
        <li>
            <a href="/posts/crear-alguna-cosa-desde-zero/">Crear alguna cosa desde zero</a>
        </li>
    </ul>
</Layout>